@import "variables";
@import "bootstrap/bootstrap";

.nav-link {
  padding-left: $spacer;
  &:focus {
    outline: none;
  }
}

.products {
  padding: $spacer*2 0;
  .card {
    margin-bottom: 0;
    + .btn {
      margin-bottom: $spacer*2;
    }
    .card-block {
      padding-bottom: $spacer*1.5;
      min-height: none;
      @include media-breakpoint-up(md) {
        min-height: 12rem;
      }
    }
  }
}

.card-img-bg {
  min-height: 12rem;
  background-size: cover;
  background-position: center;
}

.modal-header {
  display: flex;
  align-items: center;
  .modal-title {
    flex: 2 1 auto;
  }
  button {
    margin-right: $spacer/2;
  }
}

.modal-body {
  padding: $spacer*2 $spacer;
}

.page-section {
  padding: $spacer*4 0;
}