<nav class="navbar navbar-light bg-faded">
    <div class="container">
        <a class="navbar-brand" href="#">{{title}}</a>
        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   data-toggle="modal" data-target="#loginModal"
                   href="#">Login</a>
            </li>
        </ul>
    </div>
</nav>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        {{> login-form}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>