<form method="post" action="/user/signup">
    {{#if hasErrors}}
        <div class="alert alert-danger">
            {{# each messages}}
                <div>{{this}}</div>
            {{/each}}
        </div>
    {{/if}}
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button type="submit" class="btn btn-block btn-primary">Create Account</button>
    </div>
    <div class="form-group">
        <hr class="mt-2">
        <p class="text-muted">Already have an account? <a href="/user/login">Login Here</a></p>
    </div>
</form>