<section class="page-section">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>About</h2>
            <hr>
            <p class="lead">This is a protopype shopping cart app built on Node with Mongo, Express, Passport, Handlebars.js, SCSS, and Bootstrap v4.</p>
            <br>
            <a href="https://github.com/BrendanMP/user-carts" class="btn btn-primary">View Github Repo</a>
        </div>
    </div>
</section>
