<section class="page-section">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>About</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto earum expedita explicabo harum laborum
                magnam modi nisi praesentium, quos unde?</p>
            <p>Asperiores distinctio dolore error facere facilis, in maiores modi numquam obcaecati optio possimus
                praesentium quod, similique tempore velit vitae voluptates.</p>
            <p>Deleniti, magni odio? Accusantium adipisci aliquid asperiores aspernatur culpa dignissimos earum eum ipsa
                libero nisi quod, veritatis? Eos esse, sequi.</p>
            <br>
            <a href="https://github.com/BrendanMP/user-carts" class="btn btn-primary">View Github Repo</a>
        </div>
    </div>
</section>
