<section class="page-section">
    <h3 class="mb-1">Orders</h3>
    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-xs-6">
                    <strong>Order #</strong>
                </div>
                <div class="col-xs-6 text-xs-right">
                    1234
                </div>
                <div class="col-xs-6">
                    <strong>Order Total</strong>
                </div>
                <div class="col-xs-6 text-xs-right">
                    $250.00
                </div>
                <div class="col-xs-6">
                    <strong>Item Count</strong>
                </div>
                <div class="col-xs-6 text-xs-right">
                    4
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-faded"> Title  x 1</li>
            <li class="list-group-item bg-faded"> Title  x 1</li>
            <li class="list-group-item bg-faded"> Title  x 1</li>
            <li class="list-group-item bg-faded"> Title  x 1</li>
        </ul>
        <div class="card-block">
            <div class="row">
                <div class="col-sm-6">
                    <strong>Name</strong>
                    <p>Customer Name</p>
                    <strong>Delivery Address</strong>
                    <address>
                        1234 Main St, Unit 123 <br>
                        Atlanta, GA 30309
                    </address>
                </div>
                <div class="col-sm-6">
                    <strong>Order Number</strong>
                    <p>123456</p>
                    <strong>Order Total</strong>
                    <p>$120</p>
                    <strong>Total Items</strong>
                    <p>2</p>
                </div>
            </div>

        </div>
    </div>

</section>