<section class="products">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img class="card-img-top img-fluid"
                     src="http://placehold.it/900x400" alt="sun">
                <div class="card-block">
                    <h6 class="card-title">Product Name</h6>
                    <p class="card-text text-muted small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <a href="#" class="btn btn-block btn-primary">Add to Cart</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img class="card-img-top img-fluid"
                     src="http://placehold.it/900x400" alt="sun">
                <div class="card-block">
                    <h6 class="card-title">Product Name</h6>
                    <p class="card-text text-muted small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <a href="#" class="btn btn-block btn-primary">Add to Cart</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img class="card-img-top img-fluid"
                     src="http://placehold.it/900x400" alt="sun">
                <div class="card-block">
                    <h6 class="card-title">Product Name</h6>
                    <p class="card-text text-muted small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <a href="#" class="btn btn-block btn-primary">Add to Cart</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img class="card-img-top img-fluid"
                     src="http://placehold.it/900x400" alt="sun">
                <div class="card-block">
                    <h6 class="card-title">Product Name</h6>
                    <p class="card-text text-muted small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <a href="#" class="btn btn-block btn-primary">Add to Cart</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img class="card-img-top img-fluid"
                     src="http://placehold.it/900x400" alt="sun">
                <div class="card-block">
                    <h6 class="card-title">Product Name</h6>
                    <p class="card-text text-muted small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <a href="#" class="btn btn-block btn-primary">Add to Cart</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img class="card-img-top img-fluid"
                     src="http://placehold.it/900x400" alt="sun">
                <div class="card-block">
                    <h6 class="card-title">Product Name</h6>
                    <p class="card-text text-muted small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <a href="#" class="btn btn-block btn-primary">Add to Cart</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img class="card-img-top img-fluid"
                     src="http://placehold.it/900x400" alt="sun">
                <div class="card-block">
                    <h6 class="card-title">Product Name</h6>
                    <p class="card-text text-muted small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <a href="#" class="btn btn-block btn-primary">Add to Cart</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img class="card-img-top img-fluid"
                     src="http://placehold.it/900x400" alt="sun">
                <div class="card-block">
                    <h6 class="card-title">Product Name</h6>
                    <p class="card-text text-muted small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <a href="#" class="btn btn-block btn-primary">Add to Cart</a>
        </div>
    </div>
</section>
